.env
composer.phar
/vendor/

*.sqlite

# public/images/*

# !images/image-1.jpg
# !images/image-2.jpg
# !images/image-3.jpg
# !images/image-4.jpg
# !images/image-5.jpg
# !images/image-6.jpg
# !images/image-7.jpg
# !images/image-8.jpg
# !images/image-9.jpg
# !images/image-10.jpg

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
